.card {
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    /* width: 250px; */
    position: relative;
}

.card_hidden {
    display: none;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.card__btn-conteiner {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 5px;
}

.card button {
    width: 25px;
    height: 25px;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

.card__button-like {
    background-image: url(../../../public/images/like.png);
}

.card__button-like_liked {
    background-image: url(../../../public/images/isLiked.png);
}

.card__button-delete {
    background-image: url(../../../public/images/delete.png);
}