.cardList {
    display: grid;
    /* Три колонки */
    grid-template-columns: repeat(3, 1fr);
    /* Два ряда */
    grid-template-rows: auto auto;
    /* Автоматическое размещение в ряд */
    grid-auto-flow: row;
    /* Отступы между ячейками */
    gap: 20px;
}

.cardList__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}